<section class="about-us" id="about">
  <div class="container about-us-box">
    <div class="about-us-text">
      <h2 class="section-title">Про Меблерію</h2>
      <p class="section-text">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>
    <div class="img-box">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/about-us/peoples-desktop-min.jpg    1x,
            /img/about-us/peoples-desktop@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/about-us/peoples-tablet-min.jpg    1x,
            /img/about-us/peoples-tablet@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/about-us/people-mobile-min.jpg    1x,
            /img/about-us/people-mobile@2x-min.jpg 2x
          "
        />
        <img
          src="/img/about-us/peoples-desktop-min.jpg"
          alt="The team at the table"
        />
      </picture>
    </div>
  </div>
</section>
