<section id="FAQ-section">
  <div class="container faq-container">
    <h2 class="faq-title section-title">Часті питання</h2>
    <div class="accordion-container">
      <div class="accordion-item">
        <button class="accordion-btn-question" type="button">
          <h3 class="accordion-item-subtitle">
            Як здійснюється доставка меблів?
          </h3>
          <svg class="expand-btn" width="32" height="32">
            <use href="../img/icons.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <div class="accordion-show-answer">
          <p class="accordion-answer-text">
            Ми доставляємо замовлення по всій Україні через надійні служби.
            Термін доставки зазвичай складає 3-7 днів залежно від регіону.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-btn-question" type="button">
          <h3 class="accordion-item-subtitle">
            Чи є можливість вибрати колір або матеріал?
          </h3>
          <svg class="expand-btn" width="32" height="32">
            <use href="../img/icons.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <div class="accordion-show-answer">
          <p class="accordion-answer-text">
            Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
            доступні опції вказані на сторінці товару.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-btn-question" type="button">
          <h3 class="accordeon-item-subtitle">
            Чи можна повернути товар, якщо він не підійшов?
          </h3>
          <svg class="expand-btn" width="32" height="32">
            <use href="../img/icons.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <div class="accordion-show-answer">
          <p class="accordion-answer-text">
            Так, ви можете повернути товар протягом 14 днів, якщо він не був у
            користуванні та збережений у первинному вигляді.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-btn-question" type="button">
          <h3 class="accordion-item-subtitle">
            Чи надаєте ви послугу збирання меблів?
          </h3>
          <svg class="expand-btn" width="32" height="32">
            <use href="../img/icons.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <div class="accordion-show-answer">
          <p class="accordion-answer-text">
            Так, під час оформлення замовлення можна обрати послугу збирання.
            Наші майстри зберуть меблі у зручний для вас час.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <button class="accordion-btn-question" type="button">
          <h3 class="accordion-item-subtitle">Як здійснити оплату?</h3>
          <svg class="expand-btn" width="32" height="32">
            <use href="../img/icons.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <div class="accordion-show-answer">
          <p class="accordion-answer-text">
            Ми приймаємо оплату карткою онлайн, банківським переказом або
            післяплатою при отриманні.
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/faq.js" type="module"></script>
</section>
