<section id="feedback" class="feedback">
    <div class="container">
        <div class="feedback-textbox">
            <h2 class="section-title">Відгуки клієнтів</h2>
            <p class="section-text">Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>
        </div>
        <div class="feedback-swiper swiper">
            <div class="visually-hidden">
                <svg>
                    <use class="star-to-run" href="/img/star_fulled.svg"></use>
                </svg>
            </div>
            <ul class="feedback-list swiper-wrapper"></ul>
            <div class="swiper-container">
                <div class="swiper-pagination"></div>
                <div class="swaper-btn-subbox">
                    <button class="swiper-button-prev">
                        <svg class="swiper-svg-button-prev" width="24" height="24">
                            <use href="/img/icons.svg#icon-left-arrow-alt"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next">
                        <svg class="swiper-svg-button-next" width="24" height="24">
                            <use href="/img/icons.svg#icon-right-arrow-alt"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
