<footer class="footer">
  <div class="container footer-content">
    <div class="footer-logo">
      <a href="./index.html" class="footer-logo-wrapper">
        <svg class="footer-logo-img" width="145" height="32">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer-info">
      <div class="footer-nav footer-copyright">
        <p class="footer-copyright-text footer-text-small">
          © 2025 Relume. Всі права захищені.
        </p>
      </div>
    </div>
    <nav class="footer-links">
      <a href="#furniture" class="footer-link">
        <div class="footer-link-text footer-link-style footer-text-regular">
          Наші меблі
        </div>
      </a>
      <a href="#about" class="footer-link">
        <div class="footer-link-text footer-link-style footer-text-regular">
          Про нас
        </div>
      </a>
      <a href="#FAQ-section" class="footer-link">
        <div class="footer-link-text footer-link-style footer-text-regular">Часті питання</div>
      </a>
      <a href="#feedback" class="footer-link">
        <div class="footer-link-contact footer-link-style footer-text-regular">
          Відгуки
        </div>
      </a>
    </nav>
    <div class="footer-socials">
      <a
        href="https://www.youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer-social-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-Youtube"></use>
        </svg>
      </a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer-social-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-Instagram"></use>
        </svg>
      </a>
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="footer-social-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-Facebook"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
