
<section class="furniture">
    <div class="container">
        <h2 class="furniture_title">Наші меблі</h2>
        <p class="furniture_subtitle">Знайдіть ідеальні рішення для вашого інтер'єру</p>
        <div id="categories"></div>
        <div id="gallery" class="furniture_grid"></div>
        <button type="button" id="loadMoreBtn" class="btn btn-primary">Показати ще</button>

    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="../js/furniture_list.js"></script>