<header class="header">
  <div class="container header-container">
    <div class="logo-wrap">
      <a href="../index.html" class="header-logo">
        <svg class="icon-header-logo" width="159" height="35">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>

    <div class="burger-box">
      <button class="burger-button" type="button" data-modal-open>
        <svg class="burger-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </div>

    <div class="header-nav">
      <nav class="header-nav-wrap">
        <ul class="header-menu">
          <li><a href="#">Наші меблі</a></li>
          <li><a href="#about">Про нас</a></li>
          <li><a href="#">Часті питання</a></li>
          <li><a href="#feedback">Відгуки</a></li>
        </ul>
        <button class="nav-btn" id="scroll-to-furniture" type="button">
          До покупок
        </button>
      </nav>
    </div>
  </div>
</header>
