<div class="header-modal-overlay" data-modal-mobnav>
  <div class="tab-modal-header tablet-only">
    <a href="./index.html" class="header-logo">
      <svg class="icon-header-logo" width="159" height="35">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      aria-label="exit tablet navigation"
      class="close-tab-btn"
      type="button"
      data-modal-close
    >
      <svg class="close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="mob-modal-wrap">
    <div class="logo-close-wrap mobile-only">
      <a href="/index.html" class="header-logo">
        <svg class="icon-header-logo" width="159" height="35">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        aria-label="exit mobile navigation"
        class="close-mod"
        type="button"
        data-modal-close
      >
        <svg class="close-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="mob-nav-wrap">
      <nav aria-label="mobile-navigation" class="mobile-menu">
        <ul class="header-menu">
          <li><a href="#furniture">Наші меблі</a></li>
          <li><a href="#about">Про нас</a></li>
          <li><a href="#FAQ-section">Часті питання</a></li>
          <li><a href="#feedback">Відгуки</a></li>
        </ul>
        <button class="nav-btn scroll-to-furniture" type="button">
          До покупок
        </button>
      </nav>
    </div>
  </div>
</div>
