.furniture_title {
  
  font-weight: 700;
font-size: 36px; 
line-height: 1.2;
letter-spacing: 0.01em;
color: #080c09;
text-align: left;
margin-top: 24px;
margin-bottom: 16px;
}

.furniture_subtitle {
  font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #080c09;
text-align: left;
margin-bottom: 20px;
}

.color-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 4px;
  border: none;
}
.furniture-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
  
}

.category-btn {
  position: relative;
  
border-radius: 8px;

width: 160px;
height: 122px;
border: none;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
justify-content: center;
}


.category-btn:hover,
.category-btn:focus {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.category-btn.active {
  border: 8px solid #6b0609;
}
.furniture-card {
border-radius: 8px;
width: 335px;
height: 277px;

}
.category-name {
 font-weight: 700;
font-size: 18px;
line-height: 1.4;
letter-spacing: 0.01em;
text-align: center;
color: #fff;
  
}
.furniture-gallery {
  margin-top: 20px;
}
.furniture-card {
 

}
.furniture-img {

}

.furniture-name {
font-weight: 600;
font-size: 16px;
line-height: 1.6;
color: #080c09;
}

.furniture-price {
font-weight: 600;
font-size: 18px;
line-height: 1.6;
color: #080c09;
}

.furniture-btn {

}

.furniture-img {
  border-radius: 8px;

}